---
---

$font-stack:	Ubuntu, Calibri, sans-serif;
$main-text-col: #555;
$main-bg-col:	#fff;
$image-container-bg-col: #333;
$image-caption-col: #bbb;
$header-font:	Univers, Frutiger, "Frutiger Linotype", "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Ubuntu, Geneva, "Helvetica Neue", Helvetica, Calibri,  sans-serif;
$heading-col:	#555;
$title-col:	#ccc;
$title-col-hi: #aaa;
$link-col:	#ab004c;
$comment-col:	#ececec;
$code-col: #eee;
$highlight-col:	#ab004c;
$leftwidth: 	70%;
$rightwidth:	30%;
$leftwidth-medium: 	80%;
$rightwidth-medium:	20%;
$leftwidth-small: 	90%;
$rightwidth-small:	10%;
.textbg {
	display: inline-block;
	//padding: 0.5em;
	//background-color: rgba(38,0,17,0.15);
}
.textshadow {
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
}
body {
	font-family: $font-stack;
	font-size: 1em;
	color: $main-text-col;
	background-color: white;
}
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
a {
	text-decoration: none;
	color: $link-col;
	&:hover {
		text-decoration: underline;
	}
	&.featureimg:hover {
		text-decoration: none;
	}
	&#earlier, &#later {
		//display: block;
	}
	&#earlier {
		float: right;
	}
	&#later {
		//float: left;
	}
}
.cf {
	height: 0;
	clear: both;
}
h1, h2, h3 {
	font-family: $header-font;
	color: $heading-col;
	margin: 0;
	text-align: left;
}
h1 {
	font-size: 3.5em;
}
h2 {
	font-size: 1.5em;
	&#commentshead {
		margin: 2em 0 1em 0;
	}
}
h3 {
	font-size: 3em;
}
#bio, #sharelinks{
	hr {
		margin-top: 5em;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
	}
}
#sharelinks {
	margin-bottom: 2em;
}
#comments, .caption {
	font-size: 0.9em;
}
.excerpt, #postcontent {
	p, li {
		font-size: 0.9em;
		line-height: 1.4em;
	}
}
header {
	margin: 0 0 3em 0;
	h1 {
		padding: 0;
		font-weight: 900;
		a, a:visited {
			color: $heading-col;
		}
	}
	h1#maintitle {
		font-size: 5em;
		a, a:visited {
			color: $title-col;
		}
		a:hover {
			text-decoration: none;
		}
		img {
			margin-right: 0.25em;
			width: 0.8em;
			height: 0.8em;
			background-color: $highlight-col;
		}
	}
	nav {
		text-align: right;
		ul {
			margin: -1em 0 2em 0;
			padding: 0;
			li {
				display: inline;
				padding: 0;
				img {
					margin-left: 0.1em;
					background-color: $title-col;
					width: 35px;
					height: 35px;
					transition: .2s;
				}
				img:hover {
					background-color: $highlight-col;
				}
			}
		}
	}
}
section#pagelist {
	ul#pages {
		list-style: none;
		padding: 0 0 0 0;
		li {
			margin: 0 0 3em 0;
		}
	}
}
.byline {
	margin-top: 0.4em;
	text-align: right;
	color: #777;
	font-size: 0.8em;
}
div.excerpt, div#postcontent {
	text-align: justify;
	text-justify: inter-word;
	img {
		display: block;
		margin: 2em auto;
	}
}
div.excerpt {
	margin-top: 1em;
}

article {
	padding-bottom: 3em;
	div.featureimg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		//background-position: center center;
		transition: all .4s ease-in-out;
		transform: scale(1,1);
		z-index: -1;
	}
	.headingcont {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		&:hover > div.featureimg {
			transform: scale(1.1,1.1);
		}
		div.titles {
			line-height: 3em;
			margin: 8.3em 0 1.6em 2em;
			@extend .textbg;
			h3, p {
				@extend .textshadow;
			}
		}
		h3, p {
			color: #fff;
			margin: 0 0 0 0;
		}
		p {
			font-size: 0.9em;
			line-height: 0.9em;
			font-style: oblique;
			font-weight: 900;
			margin-top: -0.05em;
		}

	}
	&#post {
		.headingcont {
			div.titles {
				margin: 28.2em 0 1.6em 2em;
			}
		}
	}
}
div#postcontent {
	margin: 2em 0 5em 0;
	.screenshot {
		background-color: $image-container-bg-col;
		margin: 2em 0 2em 0;
		img {
			margin: 0 auto;
			width: 100%;
		}
		.caption {
			color: $image-caption-col;
			font-size: 0.8em;
			padding: 0.7em;
		}
	}
	h2 {
		margin-top: 3em;
	}
	code {
		margin: 0;
		padding: 0.1em;
	}
	pre {
		code {
			margin-left: 2em;
			display: block;
		}
	}
}
div#comments {
	margin-top: 2em;
}
#leftcontainer {
	width: $leftwidth;
}
#postcontainer {
	width: 80%;
	margin: 1.8em auto 5em auto;
	max-width: 960px;
}
#backandforth {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: $rightwidth;
}
#back, #forth {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	display: block;
	text-align: center;
	height: 50%;
	background-color: #hightlight-col;
	width: 100%;
	text-decoration: none;
	font-size: 10em;
	color: #fff;
	div.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		transition: all .4s ease-in-out;
		transform: scale(1,1);
		opacity: 0.8;
		z-index: -1;
	}
	&:hover > div.bg {
		transform: scale(1.1,1.1);
		opacity: 1;
	}
}
#back:hover, #forth:hover {
	//opacity: 1;
}
.backforthtitle {
	position: absolute;
	text-align: right;
	max-width: 80%;
	top: 0.3em;
	right: 0.3em;
	font-size: 0.1em;
	font-weight: 900;
	padding: 0.7em;
	background-color: rgba(0,0,0,0.5)
}
.backforthlabel {
	font-family: Symbola, $font-stack;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-decoration: none;
	text-shadow: 0 0 50px #333;
}
hr {
	margin: 0 auto;
	width: 100%;
	color: $highlight-col;
	background-color: $highlight-col;
	border-width: 0;
	height: 1px;
	opacity: 0.1;
	&#pag {
		margin: 3em 0;
	}
}
blockquote {
	border-left: 5px solid $highlight-col;
	margin-left: 3em;
	padding-left: 1em;
}
code {
	padding: 1em;
	display: inline-block;
	margin-left: 5em;
	background-color: $code-col;
}
.attribution {
	margin-right: 40px;
	font-size: 0.8em;
	font-style: oblique;
	&:before {
		content: "— ";
	}
}
#smallprint {
	font-size: 0.7em;
	color: #888;
}
.ytvid, .ptvid {
	margin: 2em auto;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
ul#share {
	padding: 0;
	li {
		display: inline;
	}
	a.social {
		display: inline-block;
		background-size: contain;
		width: 3em;
		height: 3em;
		opacity: 0.8;
		border-radius: 0;
		margin-right: 0.5em;
		transition: .2s ease-in-out;
		&#tw {
			background-color: #55acee;
			border: 0.5em solid #55acee;
			background-image: url('/images/twitter_icon.png');
		}
		&#fb {
			background-color: #3b5998;
			border: 0.5em solid #3b5998;
			background-image: url('/images/facebook_icon.png');
		}
		&#go {
			background-color: #dd4b39;
			border: 0.5em solid #dd4b39;
			background-image: url('/images/gplus_icon.png');
		}
		&:hover {
			opacity: 1;
			border-radius: 50%;
		}
	}
}

@media screen and (max-width: 1600px) {
	#leftcontainer {
		width: $leftwidth-medium;
	}
	#backandforth {
		width: $rightwidth-medium;
	}
	#postcontainer {
		width: 90%;
	}
}
@media screen and (max-width: 1300px) {
	#leftcontainer {
		width: $leftwidth-small;
	}
	#backandforth {
		width: $rightwidth-small;
	}
	.backforthtitle {
		font-size: 0.07em;
		max-width: 70%;
	}
}
@media screen and (max-width: 950px) {
	.backforthtitle {
		font-size: 0.1em;
		max-width: 80%;
	}
	#leftcontainer {
		width: 100%;
	}
	#backandforth {
		width: 100%;
		height: 400px;
		position: relative;
		#back, #forth {
			width: 50%;
			height: 100%;
			float: left;
		}
	}
	#postcontainer {
		width: 95%;
		margin-bottom: 1em;
	}
	header {
		h1#maintitle {
			font-size: 3em;
		}
		nav {
			ul {
				li {
					img {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
	}
	article, article#post {
		.headingcont {
			div.titles {
				margin: 8em 0 1em 0.5em;
			}
		}
	}
	article#post {
		.headingcont {
			div.titles {
				margin-top: 15em;
			}
		}
	}
	article {
		.headingcont {
			h3 {
				font-size: 2em;
				line-height: 1em;
			}
			p {
				font-size: 0.8em;
			}
		}
	}
	blockquote, code {
		margin-left: 0;	
		margin-right: 0;
	}
}
.jiggle {
	display: inline-block;
	font-weight: bold;
    -webkit-animation: jiggle 0.1s infinite;
    -moz-animation-duration: 0.1s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
}
@keyframes jiggle {
  10%, 90% {
    transform: translate3d(-1px, 1px, 0);
  }

  20%, 80% {
    transform: translate3d(1px, -1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 1px, 0);
  }

  40%, 60% {
    transform: translate3d(1px, -1px, 0);
  }
}
.redact {
	text-align: right;
	text-decoration: line-through;
}
.redact:hover {
	text-decoration: none;
}
