---
layout: gallerylist
index: true
title: Ludic Linux
subtitle: "Interesting talk about interesting games on Linux"
image: "emblem.jpg"
---
{% include site_header.html %}
<section id="pagelist">
	<ul id="pages">
		{% for page in site.galleries %}
			<li>
				<article>
					{% include post_heading.html %}
					{% include byline.html %}
				</article>
				<hr />
			</li>
		{% endfor %}
	</ul>
</section>	
