				<section id="smallprint">
					Articles are copyright of their respective authors and are licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
				</section>
				<!--end postcontainer-->
			</div>
			<!--end leftcontainer-->
		</div>
