<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="alternate" type="application/atom+xml" title="Ludic Linux Atom Feed" href="/atom.xml">
		<meta name="keywords" content="linux, gaming, linux gaming, games, reviews, critique, thoughts, opinion, steamos" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ site.twitter_username }}">
		<meta name="twitter:title" content="{{ page.title }}" />
		<meta name="twitter:description" content="{{ page.subtitle }}" />
		<meta name="description" content="{{ page.subtitle }}" />
		<meta name="twitter:image" content="{{ site.url }}{{ site.imagedir }}{{ page.image }}" />
		<meta property="og:site_name" content="{{ site.name }}" />
		<meta property="og:title" content="{{ page.title }}" />
{% if page.index %}
		<meta property="og:type" content="website" />
{% else %}
		<meta property="og:type" content="article" />
{% endif %}
		<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
		<meta property="og:image" content="{{ site.url }}{{ site.imagedir }}{{ page.image }}" />
		<meta property="og:description" content="{{ page.subtitle }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
		<link rel="shortcut icon" href="/images/favicon.png">
	</head>
	<body>
