{% capture link %}{{ site.baseurl }}{{ page.url }}{% endcapture %}
<a href="{{ link }}" class="headingcont">
	<div class="featureimg" style="background-image: url({{ site.baseurl }}{{ site.imagedir }}{{ page.image }}); background-position: center center;">
	</div>
	<div class="titles">
		<h3>{{ page.title }}</h3>
		{% if page.subtitle %}
		<p>{{ page.subtitle }}</p>
		{% endif %}
	</div>
</a>
