{% include gal_head.html %}
{% include site_header.html %}
<section id="topicpost">
	<article id="post">
		<h2>{{ page.title }}</h2>
		<div id="postcontent">{{ content }}</div>
		<hr />
	</article>
	{% include share.html %}
</section>
{% include gal_foot.html %}
