{% include head.html %}
{% include site_header.html %}
<section id="topicpost">
	<article id="post">
		{% include post_heading.html %}
		{% include byline.html %}
		<div id="postcontent">{{ content }}</div>
		<hr />
	</article>
</section>
{% include foot.html %}
